/* styling for container on top */
.container-top {
    display: flex;
}

/* containing heading */
.container-top-left {
    width: 90%;
    /* justify-content: center;
    align-items: center; */
}

/* containing dark mode button */
.container-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* styling for main container */
.container-center {
    display: flex;
}

/* styling for left container */
.container-center-left {
    width: 75%;
}

/* styling for right container */
.container-center-right {
    width: 25%;
}



/* styling for the footer */
.container-bottom {
    /* position: fixed;
    bottom: 0; */
    width: var(--body_width);
    display: flex;
    justify-content: center;
    align-items: center;
}