@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* define global variables */
:root {
  /*--background: #e7ecef;
  --primary: #274c77;
  --secondary: #6096ba;
  --highlight: #a3cef1;
  */
  --background: #ffffff;
  --background_cont: grey;
  --primary: #000000;
  --secondary: #273b09;
  --highlight: #968080;
  --accent1: #E8871E;
  --accent2: #EDB458;
  --accent3: #6BBF59;
  --accent4: #2E86AB;
  --accent5: #EF626C;

  --dark_mode_btn_width: clamp(30px, 12vw, 75px);
  --dark_mode_btn_height: clamp(17px, 6.8vw, 42.5px);
  --dark_mode_btn_radius: clamp(13px, 5.2vw, 32.5px);

  --font_heading: clamp(15px, 10vw, 75px);
  --font_section: clamp(10px, 7vw, 30px);
  --font_text: clamp(7.5px, 4.5vw, 20px);

  --body_width: clamp(0px, 80vw, 1200px);
}

/* set variables for dark mode */
[data-theme="dark"] {
  --background: #121212;
  --background_cont: #272727;
  --primary: #ffffff;
  --secondary: #273b09;
  --highlight: #968080;
  --accent1: #457b9d;
  --accent2: #1d3557;
}

/* styling for the whole body */
body {
  width: var(--body_width);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background);
  font-family: "Arial";
  color: var(--primary);
  font-size: var(--font_text);
}


/* styling for the main title */
h1 {
  /* margin-top: clamp(10px, 2vw, 50px); */
  font-size: var(--font_heading);
}

/* styling for the section titles */
h2 {
  margin-top: 20px;
  font-size: var(--font_section);
}

/* styling for room info */
h3 {
  margin-top: 5px;
  margin-bottom: 0px;
}

/* styling for the horizontal dividers */
hr {
  border-top: 1px solid var(--primary);
}

/* styling for each link element */
a{
  /* padding-top: 10px;
  padding-right: 10px; */
}
