/* styling for container on top */
.container-top {
    outline: 3px solid red;
    display: flex;
}

/* containing heading */
.container-top-left {
    width: 80%;
    outline: 3px solid blue;
}

/* containing dark mode button */
.container-top-right {
    width: 20%;
    outline: 3px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* styling for main container */
.container-center {
    outline: 3px dotted blue;
    display:flex;
}

/* styling for left container */
.container-center-left {
    width: 75%;
}

/* styling for right container */
.container-center-right {
    width: 25%;
    outline: 5px dotted gray;
}


/* styling for the footer */
.container-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0px 20px 0px;
    text-align: right;
    display: flex;
    justify-content: right;

  }
  
  .container-bottom a {
    background: var(--background_cont);
    padding: 10px;
    border-radius: 15px;
    margin-right: 10px;
    text-decoration: none;
    color: var(--background);
  }