@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* define global variables */
:root {
  /*--background: #e7ecef;
  --primary: #274c77;
  --secondary: #6096ba;
  --highlight: #a3cef1;
  */
  --background: #ffffff;
  --background_cont: grey;
  --primary: #000000;
  --secondary: #273b09;
  --highlight: #968080;
  --accent1: #457b9d;
  --accent2: #1d3557;

  --dark_mode_btn_width: 6vw;
  --dark_mode_btn_height: 3.4vw;
  --dark_mode_btn_radius: 2.6vw;
}

/* set variables for dark mode */
[data-theme="dark"] {
  --background: #121212;
  --background_cont: #1B1B1B;
  --primary: #ffffff;
  --secondary: #273b09;
  --highlight: #968080;
  --accent1: #457b9d;
  --accent2: #1d3557;
}

/* styling for the whole body */
body {
  margin-left: 50px;
  margin-right: 50px;
  background-color: var(--background);
  font-family: "Arial";
  font-size: 1em;
  color: var(--primary);
}


/* styling for the main title */
h1 {
  margin-top: 50px;
  font-size: 5vw;
}

/* styling for the section titles */
h2 {
  margin-top: 20px;
  font-size: 2vw;
}

/* styling for room info */
h3 {
  margin-top: 5px;
  margin-bottom: 0px;
}

/* styling for the horizontal dividers */
hr {
  border-top: 1px solid var(--primary);
}

/* styling for each link element */
a {
  margin-right: 50px;
  text-decoration: none;
  color: var(--primary);
}

/* a:visited{
  color: var(--highlight);
} */


/* styling for the footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 0px 20px 0px;
  text-align: right;


  /* styling for the footer 'buttons' */
  #mail {
    background: var(--accent1);
  }

  #github {
    background-color: var(--accent2);
  }
}

.footer a {
  background: var(--background_cont);
  padding: 10px;
  border-radius: 15px;
  margin-right: 10px;
  text-decoration: none;
  color: var(--background);
}